* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

html,
body {
  height: 100%;
}

html {
  /*colors*/
  --primary-color: #1b1c1d;
  --secondary-color: #a2e23a;
}

/***********Fonts*************/
h1 {
  color: var(--secondary-color);
}

h2 {
  color: var(--secondary-color);
}

.background_div div {
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 1rem;
}

.background_div2 {
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 1rem;
}

.background_div h2 {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

#pBackdrop p {
  color: #ffffff;
}

#endDivpic {
  max-height: 300px;
  width: auto;
}

#endDivpic img {
  height: 100%;
  width: 100%;
}

#endDivtxt {
  display: flex;
  border: 3px solid var(--secondary-color);
  max-height: 100%;
  width: auto;
  padding: 2vw;
  justify-content: center;
}

#endDivtxt p {
  color: var(--secondary-color);
}
@media (max-width: 800px) {
  #pBackdrop {
    max-height: 130px;
    text-align: center;
  }

  #pBackdrop p {
    font-size: 0.8rem;
    color: var(--secondary-color);
    background-color: rgb(27, 28, 29, 0.8);
  }

  /* #endDivtxt p {
    font-size: 5vw;
  } */
}

.grid1_1-1 {
  width: 80%;
  height: 100%;
}
@media (min-width: 800px) {
  .grid1_1-2-1 div {
    padding: 0.5rem;
  }

  #pBackdrop p {
    padding: 0;
  }
}

/********CV**********/
.about-me {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

.about-me h2 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.about-me p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-me ul {
  list-style-type: none;
  padding: 0;
}

.about-me ul li {
  font-size: 1rem;
  margin-bottom: 15px;
  padding-left: 1.5rem;
  position: relative;
}
/*syntaks ved hjælp af chatGPT*/
.about-me ul li::before {
  content: "•";
  color: var(--secondary-color);
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
