html {
  /*colors*/
  --primary-color: #1b1c1d;
  --secondary-color: #a2e23a;
  --secondary-color1: #ffffff;
  --secondary-color2: #e23ada;
  --secondary-color3: #e23a3a;
  --secondary-color4: #3ab2e2;
  --secondary-color5: #993ae2;

  /*sizes*/
  --xxs: 0.25rem;
  --xs: 0.5rem;
  --sm: 1rem;
  --me: 2rem;
  --ml: 3.5rem;
  --la: 5rem;
  --xl: 6.5rem;
  --xxl: 8rem;
  --xxxl: 10rem;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.khand-medium {
  font-family: "Khand", serif;
  font-weight: 500;
  font-style: normal;
}

.istok-web-regular {
  font-family: "Istok Web", serif;
  font-weight: 400;
  font-style: normal;
}

html {
  background-color: var(--primary-color);
}

h1 {
  font-family: IBM Plex Mono;
  font-size: var(--xxl);
}

h2 {
  font-family: Khand;
  font-size: var(--me);
  padding-bottom: var(--sm);
}

p {
  font-family: Istok Web;
  color: var(--secondary-color1);
  font-size: var(--sm);
  padding-bottom: var(--xs);
  margin-bottom: var(--xs);
}

li {
  font-family: IBM Plex Mono;
  color: var(--secondary-color1);
  background-color: #1b1c1d;
  font-size: var(--sm);
}
a {
  text-decoration: underline;
  font-family: Istok Web;
  color: var(--secondary-color);
  font-size: var(--sm);
  padding-bottom: var(--xs);
  margin-bottom: var(--xs);
}

@media (max-width: 800px) {
  h1 {
    font-size: var(--ml);
  }

  h2 {
    font-size: var(--me);
    padding-bottom: var(--sm);
  }

  p {
    font-size: var(--sm);
    padding-bottom: var(--xs);
    margin-bottom: var(--xs);
  }
}
